<ol>
    <li><h1><a href="noting">Your Notes</a></h1></li>

</ol>

<style>
    html {
        font-size: 10px;
        background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.AFok4eu1f7hHYL9xNVLL1gHaEo%26pid%3DApi&f=1");        
        background-repeat: no-repeat;
        background-size: cover; 
    }
    li {
        color: rgb(78, 101, 78);
        font-size: 2.5rem;
        font-style: normal;
    }

    a {
        color: rgb(86, 139, 86);

    }


</style>